<div class="container justify-center h-100 login-page">

    <div class="login-page-wrapper">
        <div class="page-header">
            <h3>Log In to Your Learnio Account!</h3>
        </div>

        <div class="page-content">
            <div class="form-area">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">*</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group">
                    <input type="submit" value="Log In" />
                </div>
            </div>

        </div>
    </div>

</div>